@mixin button {
	border: none;
	padding: 4px 20px;
	border-radius: 4px;
	color: #fff;
	background: #3bbbcd;
	height: 40px;
	cursor: pointer;

	&:disabled {
		opacity: 0.5;
	}
}

.button--default {
	@include button;
}